<div class="wrapper" role="main">
    <div class="input-container">
        <label for="pass">Password:</label>
        <input
            type="password"
            id="pass"
            name="password"
            placeholder="Enter your password to check it's strength"
            required
        />
    </div>
    <div class="strength-sections-container">
        <div class="strength-section"></div>
        <div class="strength-section"></div>
        <div class="strength-section"></div>
    </div>
</div>
